<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 text-center">
      <h2>URL Shortener</h2>
      <i class="fas fa-link fa-3x mt-3"></i>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-7 text-center">

      <form action="/" method="GET">
        <input type="text" name="originUrl" placeholder="請輸入網址" class="form-control" value="">
        <button class="btn btn-info mt-4">Shorten</button>
      </form>

    </div>
  </div>
</div>